<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Looker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/looker.css') }}">
    <script src="{{ url_for('static', filename='js/looker.js') }}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/STATIC_LOGO.png') }}">
</head>
<body>
<!-- Navigation/Menu Bar-->   
 <div id="navbar">
     <img src="{{ url_for('static', filename='images/STATIC_LOGO.png') }}">
     <a href="#contact">CONTACT</a>
     <a href="#product">PRODUCT</a>
     <a href="#features">FEATURES</a>
     <a href="#home">HOME</a>
 </div>
 <div class="slogan">
    <h1>Changing the way you LOOK!</h1>
 </div>
 <!-- Home Page-->
 <div id="home">
    <video id="vid" autoplay loop muted playsinline>
        <source src="{{ url_for('static', filename='images/Intro_LOOKER.mp4') }}" type="video/mp4">
    </video>
 </div>
 <!-- Features Pages-->
 <div id="features">
    <div id="bp">
     <img src="{{ url_for('static', filename='images/Best_price_icon.png') }}"></img>
    </div> 
    <div id="gv">
        <h2>" Great-Value "</h2>
        <p>Best Deal for your</p> 
        <p>hard-earned money</p>
    </div>
 </div>
 <!-- Features Pages 2-->
 <div id="f2">
    <div id="otd">
         <h2>" On-Time Delivery "</h2>
         <p>Products are delivered</p>
         <p>faster and on-time</p>
    </div>
    <div id="fd">
      <img src="{{ url_for('static', filename='images/Fast_delivery_icon.png') }}"></img>   
    </div>
 </div>
 <!-- Features Pages 3-->
 <div id="f3">
    <div id="pq">
     <img src="{{ url_for('static', filename='images/Product_quality_icon.png') }}"></img>
    </div> 
    <div id="qp">
        <h2>" Quality-Product "</h2>
        <p>Longer-life and</p> 
        <p>better products</p>
    </div>
 </div>
 <!-- Features Pages 4-->
 <div id="f4">
    <div id="cs">
         <h2>" Customer Support "</h2>
         <p>Fast,friendly and</p>
         <p>effective help</p>
    </div>
    <div id="as">
      <img src="{{ url_for('static', filename='images/Customer_support_icon.png') }}"></img>   
    </div>
 </div>
 <!-- Products-->
 <div id="product">
    <h2>PRODUCTS</h2>
 </div>  
 <div class="shirt"> 
   <div id="bs">
     <a href="{{ url_for('blue_shirt')}}">
       <img src="{{ url_for('static', filename='images/Blue_shirt.jpg') }}">
       <h3> Blue Men's Casual </h3>
     </a>
   </div>
   <div id="gh">
     <a href="{{ url_for('grey_hoodie')}}">
       <img src="{{ url_for('static', filename='images/Grey_hoodie.jpg') }}">
       <h3> Grey Hoodie</h3>
     </a>
   </div> 
 </div>
 <br><br><br><br>
 <div class="pant">
   <div id="fp">
     <a href="{{ url_for('formal_pant')}}">
       <img src="{{ url_for('static', filename='images/Formal_pant.jpg') }}">
       <h3> Formal Pant  </h3>
     </a>
   </div>
   <div id="tp">  
     <a href="{{ url_for('track_pant')}}">
       <img src="{{ url_for('static', filename='images/Track_pant.jpg') }}">
       <h3> Track Pant </h3>
     </a>
   </div>
 </div>
   <div id="contact">
    <div id="phone">
      <p><h2>📞 +91 09876 54321</h2></p>
      <p><h2>✉️ email@looker.com</h2></p>
    </div>
    <div id="low_logo">
      <img src="{{ url_for('static', filename='images/STATIC_LOGO.png') }}">
    </div>
   </div>
</body>
</html>